* {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-family: "Avenir", Roboto;
    color: #383838
}
body {
    padding-top: 120px;
}
h1 {
  margin-bottom: 16px;
  font-size: 5vw; 
  font-weight: 500; 
}
h2 {
    margin-bottom: 160px; 
    font-size: 3vw; 
    color: #3970FF;
}
.fa {
    margin-bottom: 64px;
    margin-right: 24px; 
    font-size: 40px;
    cursor: pointer;
    transition: color 0.5s;
}
.fa:hover {
    color: gray;
}
.tab {
    margin-right: 32px; 
    font-size: 3vw;
    text-decoration: none;
    border-radius: 16px;
    padding: 4px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    transition: 0.3s;
}
.tab:hover {
    border-color: #383838;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 100px;
    }
    .tab {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        margin: 0 auto 8px auto;
    }
  }