* {
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-family: "Avenir", Roboto;
    color: #383838
}
body {
    padding-top: 96px;
}
h1 {
  margin-bottom: 16px;
  font-size: 5vw; 
  font-weight: 500; 
}
h2 {
    margin-bottom: 112px; 
    font-size: 3vw; 
    color: #1b6095;
}
.fa {
    margin-bottom: 64px;
    margin-right: 24px; 
    font-size: 48px;
    cursor: pointer;
    transition: color 0.5s;
}
.fa:hover {
    color: #a9d4f5;
}
.tabs {
    margin-right: 32px; 
    font-size: 3vw;
    text-decoration: none;
    border-radius: 16px;
    padding: 4px 12px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    transition: 0.3s;
}
.tabs:hover {
    border-color: #a9d4f5;
    color: #a9d4f5;
}
.quote {
    color: #a9d4f5;
    margin-top: 80px;
    font-size: 1.5vw;
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 100px;
    }
    .fa {
        font-size: 40px;
    }
    .tabs {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        margin: 0 auto 8px auto;
    }
    .quote {
        font-size: 12px;
        margin-top: 96px;
    }
  }